body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
    background-image: url('stadium.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(0px);
}

header {
    background-color: #d81313;
    color: #f9f92f;
    padding: 20px;
    z-index: 1;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #f9f92f;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: calc(100vh - 80px);
    overflow-y: auto;
    z-index: 1;
}

footer {
    background-color: #2117e4;
    color: #f9f92f;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
